$min-width: 20rem;
$padding: 1.5rem;

.container {
  --max-width: 23.4375rem;

  margin-inline: auto;
  width: min(var(--max-width), calc(100% - (2 * $padding)));
  min-width: $min-width;

  @include breakpoint(700) {
    --max-width: 39.6875rem;
  }
}

.relative {
  position: relative;
}

$box: 1px solid red;
